.cart-item-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 12px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(43, 37, 46, 0.40);
}

.cart-item-image{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.75rem;
    height: 4.75rem;
}
.cart-item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
}
.cart-item-name{
    grid-column-start: 3;
    grid-column-end: 9;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cart-item-quantity{
    grid-column-start: 9;
    grid-column-end: 11;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid rgba(43, 37, 46, 0.40);
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 5.3125rem;
    height: 1.5rem;
    padding: 0.125rem 0.5rem;
    align-items: center;
    gap: 1rem;
}
.cart-item-total{
    grid-column-start: 11;
    grid-column-end: 13;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart-item-quantity-minus:hover{
    cursor: pointer;
}
.cart-item-quantity-plus:hover{
    cursor: pointer;
}