.menuItem{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    border-bottom: #2B252E solid 0.5px;
}

.menuItem-description-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0.75rem;
    width: 80%;
}
.menuItem-description{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.5rem;
}
.menuItem-name{
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;   
}
.menuItem-waitingTime{
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.menuItem-description-line1{
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    align-items: first baseline;
    gap: 0.5rem;
}
.menuItem-description-line2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: first baseline;
    gap: 0.75rem;
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menuItem-description-line3{
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.veg-nonveg-icon{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 0.2rem;
}

.menuItem-img-container{
    height: 7.375rem;
    width: 7.375rem;
    margin: auto;
    text-align: center;
}
.menuItem-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.add-icon{
    transform: translateY(-50%);
    z-index: 0;
}
.add-icon:hover{
    cursor: pointer;
}
.add-icon:active{
    /* add a dark blue colored border in the bottom right  */
    border-bottom: 2px solid #2B252E;
    border-right: 1px solid #2B252E;
    border-radius: 5px;
}
.add-icon{
    display: flex;
    padding: 0.125rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    background: #17A9DD;
    width: 50%;
    margin: auto;
    color: #F3F3E7;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


@media (max-width: 432px){
    .menuItem-name{
        font-size: 1.25rem;
        font-weight: 500;
    }
    .menuItem-waitingTime{
        font-size: 0.75rem;
        font-weight: 300;
    }
    .menuItem-description-line1{
        display: inline-block;
    }
    .menuItem-price{
        font-size: 1rem;
        font-weight: 400;
    }
    .menuItem-description-sentence{
        font-size: 0.75rem;
        font-weight: 400;
        height: 2rem;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-width: 50vw;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .menu-Item-description-sentence:hover{
        text-overflow: clip;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
    .menuItem-description-sentence:active{
        text-overflow: clip;
        overflow: visible;
        display: block;
        height: fit-content;
    }
}

.add-icon-minus:hover{
    cursor: pointer;
}
.add-icon-plus:hover{
    cursor: pointer;
}
.add-icon-plus{
    width: 2rem;
}
.add-icon-minus{
    width: 2rem;
}
.add-icon-plus-minus{
    transform: translateY(-50%);
    z-index: 0;
}
/* .add-icon-plus-minus:active{
    border-bottom: 2px solid #2B252E;
    border-right: 1px solid #2B252E;
    border-radius: 5px;
} */
.add-icon-plus-minus{
    display: flex;
    padding: 0.125rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    border-radius: 0.25rem;
    background: #17A9DD;
    width: 50%;
    height: 1.5rem;
    margin: auto;
    color: #F3F3E7;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}