.hostel-select select {
  width: 80%;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
  border: 1px solid #F3F3E7;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #d4d4d2;
  cursor: pointer;
}
.hostel-select{
    color: #2b252e9e;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#signup input{
    font-size: 1rem;
}