
/* .login-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 12px;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
} */

/* .login-r1{
    position: relative;
    top: 14.17vh;
} */
/* .modal-title{
    grid-column-start: 4;
    grid-column-end: 9;
    white-space: nowrap;
    margin: auto;
    color: #2B252E;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
} */

/* .login-r2{
    position: relative;
    top: 20.9vh; 
}
.login-r3{
    position: relative;
    top: 29.5vh; 
}
.login-r4{
    position: relative;
    top: 32.7vh;
}
.login-r5{
    position: relative;
    top: 39.5vh; 
}
.login-r6{
    position: relative;
    top: 45.6vh; 
} */

.forgot-password{
    grid-column-start: 9;
    grid-column-end: 13;
    text-align: right;
    color: #17A9DD;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}

.forgot-password:hover{
    cursor: pointer;
}

#login-signup{
    grid-column-start: 4;
    grid-column-end: 9;
    text-align: center;
    color: #17A9DD;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}
#login-signup:hover{
    cursor: pointer;
}
