.page{
    background-color: #F3F3E7;
}
.content{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 32px;
    margin-left: 160px;
    margin-right: 160px;
}

.foodsImgContainer{
    width: 100vw;
    height: 410px;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../../assets/home/food.png');
    background-size: cover;
}
.searchBar{
    width: 29.75rem;
    height: 1.75rem;
    position: relative;
    top: 19rem;
    margin: auto;
}

.content h3{
    grid-column-start: 2;
    grid-column-end:6;
    margin-left: 2.25rem;
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}