.carousel-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carousel-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.food-item:hover{
    cursor: pointer;
    color: #17A9DD;
}

.foot-item{
    width: 8.745vw;
    height: fit-content;
}

.food-img-mask{
    width: 8.745vw;
    height: 8.745vw;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 5.5px 3px 0px rgba(43, 37, 46, 0.20);
}
.food-item-text{
    position: relative;
    top: 0.5rem;
    width: 8.745vw;
    text-align: center;
    height: 5rem;
}
@media (min-width: 1350px){
    .food-item-text{
        width: 8.745vw;
        /* width: 125.94px; */
        /* height: 2.5rem; */
    }
    .food-img-mask{
        width: 8.745vw;
        height: 8.745vw;
    }
    .foot-item{
        width: 8.745vw;
    }
}
@media (max-width: 1350px) and (min-width: 1150px){
    .food-item-text{
        width: 9vw;
        /* height: 2.5rem; */
    }
    .food-img-mask{
        width: 9vw;
        height: 9vw;
    }
    .foot-item{
        width: 9vw;
    }
}
@media (max-width: 1150px) and (min-width: 834px){
    .food-item-text{
        width: 9.3vw;
        /* height: 6rem; */
    }
    .food-img-mask{
        width: 9.3vw;
        height: 9.3vw;
    }
    .foot-item{
        width: 9.3vw;
    }
}
@media (max-width: 834px) and (min-width: 570px){
    .food-item-text{
        width: 15.5vw;
        /* height: 6rem; */
    }
    .food-img-mask{
        width: 15.5vw;
        height: 15.5vw;
    }
    .foot-item{
        width: 15.5vw;
    }
}
@media (max-width: 570px) and (min-width: 432px){
    .food-item-text{
        width: 14vw;
        /* height: 6rem; */
    }
    .food-img-mask{
        width: 14vw;
        height: 14vw;
    }
    .foot-item{
        width: 14vw;
    }
}
@media (max-width: 432px){
    .food-item-text{
        width: 90px;
        /* height: 6rem; */
    }
    .food-img-mask{
        width: 90px;
        height: 90px;
    }
    .foot-item{
        /* width: 18vw; */
        width: 90px;
    }
    .carousel-button-left{
        display: none;
    }
    .carousel-button-right{
        display: none;
    }
    .subtitle{
        font-size: 1rem;
    }
    .carousel-container{
        overflow-x: scroll;
    }
    .carousel-items{
        gap: 1rem;
    }
}

.food-img-mask:hover{
    cursor: pointer;
    box-shadow: 0px 5.5px 3px 0px rgba(0, 191, 255, 0.495)
}
.food-img-mask img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.subtitle{
    color: #2B252E;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.carousel-button-left{
    position: relative;
    bottom: 2.3rem;
}
.carousel-button-left:hover{
    cursor: pointer;
}
.carousel-button-right{
    position: relative;
    bottom: 2.3rem;
}
.carousel-button-right:hover{
    cursor: pointer;
}

/* Animation */
@keyframes moveIn {
    0% {
        transform: scale(0.3);
        opacity: 0.05;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes moveLeft2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes moveLeft3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes moveLeft4 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes moveLeft5 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}   

@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }    
}

@keyframes moveRight2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }    
}

@keyframes moveRight3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }    
}

@keyframes moveRight4 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }    
}

@keyframes moveRight5 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }    
}

.moveIn {
    animation: moveIn 0.3s forwards;
}
.moveLeft {
    animation: moveLeft 0.3s forwards;

}
.moveLeft2 {
    animation: moveLeft2 0.3s forwards;
}
.moveLeft3 {
    animation: moveLeft3 0.3s forwards;
}
.moveLeft4 {
    animation: moveLeft4 0.3s forwards;
}
.moveLeft5 {
    animation: moveLeft5 0.3s forwards;
}

.moveRight {
    animation: moveRight 0.3s forwards;
}
.moveRight2 {
    animation: moveRight2 0.3s forwards;
}
.moveRight3 {
    animation: moveRight3 0.3s forwards;
}
.moveRight4 {
    animation: moveRight4 0.3s forwards;
}
.moveRight5 {
    animation: moveRight5 0.3s forwards;
}
