.order-item{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    /* margin: 8px; */
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    margin-bottom: 17px;
    margin-top: 17px;
    /* padding: 10px; */
    border-bottom: 0.5px solid #2b252e6e;
}

.order-item-r1{
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: center;
    margin: auto;
    width: 100%;
}

.order-item-r2{
    grid-row-start: 2;
    grid-row-end: 3;
}

.order-item-r3{
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.order-item-date{
    text-align: left;
}

.order-item-track{
    text-align: right;
    color: #17A9DD;
}

.order-items-r2{
    text-align: left;
}

.order-item-items{
    color: #2B252E;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* increase gap between the items */
    display: grid;
    gap: 0.5rem;
}
.order-item-item{
    color: #2B252E;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-item-item-collect{
    color: #00BA34;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.order-item-total{
    text-align: right;
    grid-column:2/4;
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    /* make items stay in center vertically */
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}
.order-item-status{
    text-align: left;
    grid-column: 1 / 2;
    margin-right: 0.2rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    /* color: #17A9DD; */
}


.delivered{
    color: #00B833;
}
.ready{
    color: #00B833;
}
.pending{
    color: #E88F00;
}
.cancelled{
    color: #FF0000;
}
.general{
    color: #2B252E;
}
.out-for-delivery{
    color: #17A9DD;
}

.order-item-date{
    font-weight: 500;
}

.reorder-icon:hover{
    cursor: pointer;
}
.reorder-icon:active{
    /* add a dark blue colored border in the bottom right  */
    border-bottom: 2px solid #2B252E;
    border-right: 1px solid #2B252E;
    border-radius: 5px;
}
.reorder-icon-container{
    grid-column: 3 / 4;
    /* get the button to the top right */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}
.reorder-icon{
    display: flex;
    padding: 0.125rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    height: 44px;
    border-radius: 0.25rem;
    background: #17A9DD;
    width: 50%;
    min-width: 100px;
    /* margin: auto; */
    color: #F3F3E7;
    text-align: right;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media (max-width: 480px){
    .reorder-icon{
        width: 80%;
    }
}

.delivery-person-phone{
    text-align: right;
}
.delivery-person-phone-title{
    font-size: 1rem;
}
.delivery-person-phone-number{
    font-size: 1.25rem;
    font-weight: 500;
}

.order-item-token-contact-dt{
    grid-column: 1 / 3;
}

.order-item-contact {
    color: #2B252E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.order-item-contact p{
    color: #2B252E;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-item-token{
    color: #2B252E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.order-item-date-time{
    color: #2B252E;
    font-family: Montserrat;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.item-ready{
    color: #00B833;
    color: #00BA34;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.prev-order-item-date-time{
    color: #2B252E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

