.order-item {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    margin: auto;
    height: 220px;
    width: 92%;
    color: #2B252E;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
    align-items: center;
    border-bottom: 1px solid #2b252e2e;
    padding: 0.5rem 0.5rem;
    
}
.order-token {
    font-size: 1rem;
    font-weight: 600;
    color: #17A9DD;
    background: #17a9dd15;
    padding: 0.5rem 1.3rem;
    border-radius: 8px;
    display: inline-block;
    margin-right: auto;
    text-align: center;
    margin-bottom: 5rem;
    
}

.order-item-r1{
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: center;
}

.order-item-r2{
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0.5rem 0;
}

.order-item-r3{
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    align-items: center;
}

.order-item-r4{
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.order-item-date{
    text-align: left;
    font-size: 1.25rem;
    padding-bottom: -3rem;
    font-weight: 600;
    color: #17A9DD;
    grid-column-start: 1;
    grid-column-end: 2;
}

.order-item-track{
    text-align: right;
    color: #17A9DD;
}

.order-item-item {
    font-size: 1.1rem;
    padding: 0.25rem -0.5rem;
    border-radius: 4px;
}

.order-items-r2{
    text-align: left;
}
.order-item-total{
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    padding: -0.5rem -3rem ;
}
.order-item-status{
    text-align: right;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-right: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.25rem 1rem;
    border-radius: 4px;
    display: inline-block;
    margin-left: auto;
    margin-right: -10px;
    /* color: #17A9DD; */
}
.delivered{
    color: #00B833;
}
.ready{
    color: #00B833;
}
.pending{
    color: #E88F00;
}
.cancelled{
    color: #FF0000;
}
.general{
    color: #2B252E;
}
.out-for-delivery{
    color: #17A9DD;
}

.order-item-date{
    font-weight: 500;
}

.reorder-icon:hover{
    cursor: pointer;
}
.reorder-icon:active{
    /* add a dark blue colored border in the bottom right  */
    border-bottom: 2px solid #2B252E;
    border-right: 1px solid #2B252E;
    border-radius: 5px;
}
.reorder-icon-container{
    width: 100%;
    display: flex;
    justify-content: right;
}
.reorder-icon{
    display: flex;
    padding: 0.125rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    height: 2.25rem;
    border-radius: 0.25rem;
    background: #17A9DD;
    width: 50%;
    /* margin: auto; */
    color: #F3F3E7;
    text-align: right;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media (max-width: 432px){
    .reorder-icon{
        width: 80%;
    }
}

.delivery-person-phone{
    text-align: right;
}
.delivery-person-phone-title{
    font-size: 1rem;
}
.delivery-person-phone-number{
    font-size: 1.25rem;
    font-weight: 500;
}