.modal-input-container h1{
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: left;
}
.modal-input-container .input-title{
    width: 83%;
    margin:auto;
}

.modal-input select{
    width: 20%;
    border: none;
    background-color: #F3F3E7;
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media(max-width: 834px) and (min-width: 432px){
    .modal-input select{
        width: 30%;
    }
}
@media(max-width: 432px){
    .modal-input select{
        width: 40%;
    }
}

.modal-input-select{
    width: 80%;
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 1rem;
    border-bottom: 1px solid rgba(43, 37, 46, 0.40);
    margin: auto;
    display: flex;
    align-items: left;
}