#searchBar{
    width: 100%;
    height: 1.75rem;
    background-color: #F3F3E7;
    color: #2B252E;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
#searchBar input:hover{
    cursor: pointer;
    color:#17A9DD;
}
#searchBar .search-title{
    padding-top: 0.25rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
/* #searchBar:hover{
    cursor: pointer;
    color:#17A9DD;
} */
@media(max-width: 432px){
    #searchBar{
        border-radius: 5px;
    }
}

.select__input-container{
    display: none;
}