#searchBar2 .searchBarDiv{
    width: 100%;
    height: 1.75rem;
    background-color: #F3F3E7;
    color: #2B252E;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
#searchBar2 .searchBarDiv input:hover{
    cursor: pointer;
    color:#17A9DD;
}
#searchBar2 .searchBarDiv .search-title{
    padding-top: 0.25rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
/* #searchBar2:hover{
    cursor: pointer;
    color:#17A9DD;
} */
@media(max-width: 480px){
    #searchBar2 .searchBarDiv{
        border-radius: 5px;
    }
}