.change-password{
    white-space: nowrap;
    text-align: right;
    grid-column-start: 9;
    grid-column-end: 12;
    color: #17A9DD;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
    padding-top: 0.25rem;
}
@media (max-width: 834px) and (min-width: 432px){
    .change-password{
        grid-column-start: 5;
        grid-column-end: 9;
    }
}
@media (max-width: 432px){
    .change-password{
        grid-column-start: 3;
        grid-column-end: 5;
    }
}
.order-open-container{
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 12;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}
@media (max-width: 834px) and (min-width: 432px){
    .order-open-container{
        grid-column-start: 2;
        grid-column-end: 8;
    }
}
@media (max-width: 432px){
    .order-open-container{
        grid-column-start: 2;
        grid-column-end: 4;
        
    }
}

.order-open-button{
    width: 100%;
    display: inline-flex;
    padding-bottom: 1rem;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid rgba(43, 37, 46, 0.40);
    background: #F3F3E7;
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.order-open-button:hover{
    cursor: pointer;
}
