@media(min-width: 834px) {
        

    .menu-container{
        margin-top: 2.88rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 32px;
        margin-left: 160px;
        margin-right: 160px;
    }

    .menu-navbar-container{
        position: sticky;
        z-index: 0;
        top: 5.9rem;
        /* margin-top: 4.5rem; */
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 32px;
        margin-left: 160px;
        margin-right: 160px;
        border-bottom: 1px solid rgba(0, 0, 0,0.2);
        box-sizing: content-box;
    }
    .activeSide .foodItemSide{
        color: #17A9DD;
        border-right: 1.5px solid #17A9DD;
    }

    .menu-navbar{
        grid-column-start: 4;
        grid-column-end: 11;
        margin-left: 0.19rem;
        margin-right: 0.19rem;
        color: #2B252E;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu-navbar-item{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (max-width: 1000px) {
        .menu-container{
            grid-template-columns: repeat(8,1fr);
        }
        .menu-navbar{
            grid-column-start: 1;
            grid-column-end: 13;
        }
    }

    .menu-navbar-item:hover{
        cursor: pointer;
        color: #17A9DD;
        border-bottom: #17A9DD solid 2px;
        box-sizing: border-box;
    }

    .activeTop .menu-navbar-item{
        color: #17A9DD;
        border-bottom: #17A9DD solid 2px;
        box-sizing: border-box;
    }

    .menu-page-title{
        color: #2B252E;
        font-family: Montserrat;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 100%;
    }

    .menu-page-subtitle{
        color: #2B252E;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .menu-sideNav-container{
        grid-column-start: 1;
        grid-column-end: 4;
        position: sticky;
        top: 10rem;
        height: 80vh;
    }

    .orderNav-container{
        margin-top: 3rem;
    }

    .orderNav-title{
        text-align: right;
        width: 90%;
        padding-right: 1.8rem;
        padding-top: 2rem;
        border-right: 1px solid rgba(43, 37, 46,0.2);
    }

    .foodItemSide{
        color: #2B252E;
        width: 90%;
        text-align: right;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 0.6rem;
        padding-right: 1.8rem;
    }
    .foodItemSide:hover{
        cursor: pointer;
        color: #17A9DD;
        border-right: 1.5px solid #17A9DD;
    }

    .border-black-right{
        border-right: 1px solid rgba(43, 37, 46,0.2);
    }
    .menu-items-container{
        grid-column-start: 4;
        grid-column-end: 12;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .menu-items-category-wise{
        grid-column-start: 4;
        grid-column-end: 12;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .menu-title{
        margin-bottom: 1.2rem;
    }
    .veg-nonveg-container{
        display: flex;
        justify-content: flex-start;
        gap: 1.5rem;
        align-items: center;
        text-align: center;
        width: 50%;
        padding-bottom: 2rem;
    }
    .veg-nonveg-container div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem
    }

    .menu-page-description-text{
        color: #2B252E;
        font-family: Montserrat;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}
@media (min-width: 480px) {
@media (max-width: 834px) {
        
    
    .menu-container{
        padding-top: 2.88rem;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 16px;
        margin-left: 32px;
        margin-right: 32px;
    }

    .menu-navbar-container{
        position: sticky;
        z-index: 0;
        top: 5rem;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem;
        border-bottom: 1px solid black;
    }

    .menu-navbar{
        padding-left: 0.19rem;
        padding-right: 0.19rem;
        color: #2B252E;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu-navbar-item:hover{
        cursor: pointer;
        color: #17A9DD;
    }

    .activeTop .menu-navbar-item{
        color: #17A9DD;
        border-bottom: #17A9DD solid 2px;
        box-sizing: border-box;
    }


    .menu-page-title{
        color: #2B252E;
        font-family: Montserrat;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 100%;
    }

    .menu-page-subtitle{
        color: #2B252E;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .menu-sideNav-container{
        display: none;
    }


    .foodItemSide{
        color: #2B252E;
        width: 100%;
        text-align: right;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 0.5rem;
        padding-right: 0.5rem;
    }
    .foodItemSide:hover{
        cursor: pointer;
        color: #17A9DD;
        border-right: 1.5px solid #17A9DD;
        box-sizing: initial;
    }

    .border-black-right{
        border-right: 0.5px solid #2B252E;
    }
    .menu-items-container{
        grid-column-start: 1;
        grid-column-end: 9;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .menu-items-category-wise{
        grid-column-start: 1;
        grid-column-end: 9;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .menu-title{
        margin-bottom: 1.2rem;
    }
    .veg-nonveg-container{
        display: flex;
        justify-content: flex-start;
        gap: 1.5rem;
        align-items: center;
        text-align: center;
        width: 50%;
        padding-bottom: 2rem;
    }
    .veg-nonveg-container div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        white-space: nowrap;
    }

    .menu-page-description-text{
        color: #2B252E;
        font-family: Montserrat;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}
}

@media (max-width: 480px) {
    .menu-container{
        padding-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .menu-navbar-container{
        position: sticky;
        z-index: 0;
        top: 5.4rem;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        border-bottom: 1px solid black;
    }

    .menu-navbar{
        padding-left: 0.19rem;
        padding-right: 0.19rem;
        color: #2B252E;
        font-family: Montserrat;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu-navbar-item:hover{
        cursor: pointer;
        color: #17A9DD;
    }

    .activeTop .menu-navbar-item{
        color: #17A9DD;
        border-bottom: #17A9DD solid 2px;
        box-sizing: border-box;
    }
    .menu-sideNav-container{
        display: none;
    }
    .menu-items-container{
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .menu-items-category-wise{
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .menu-title{
        margin-bottom: 1.2rem;
        margin-left: 0.5rem;
    }
    .veg-nonveg-container{
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
        align-items: center;
        text-align: center;
        width: 50%;
        padding-bottom: 2rem;
        margin-left: 0.5rem;
    }
    .veg-nonveg-container div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        white-space: nowrap;
    }

    .menu-page-description-text{
        color: #2B252E;
        text-align: center;
        font-family: Montserrat;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .menu-page-title{
        color: #2B252E;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 100%;
    }
    
    .menu-page-subtitle{
        color: #2B252E;
        font-family: Montserrat;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

}

.menu-navbar-container{
    background-color: #F3F3E7;
    z-index: 1;
}

.offers-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10rem;
    padding-top: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.offers-text{
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}

.restaurant-details{
    margin-top: 2.5rem;
}

.restaurant-details-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10rem;
    padding-top: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.restaurant-details-content ul{
    list-style-type: none;
    padding: 0;
}
.restaurant-details-content li{
    color: #2B252E;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.restaurant-details-content li div{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.restaurant-details-content li div b{
    font-weight: 500;
}

.veg-indicator:hover{
    cursor: pointer;
}
.nonveg-indicator:hover{
    cursor: pointer;
}
.egg-indicator:hover{
    cursor: pointer;
}